
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

.main-container{
    width: min(750px, 90%);
    background-color: #a4a9bd;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 10px 0 #000;
}

h3{
    text-align: center;
    margin: 20px 0;
}

header{
    text-align: center;
}

.input-container,
.info-container,
.categoria-container{
    display: flex;
    gap: 10px;
}

.input-container{
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.input-container input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    max-width: 50%;
}

.input-container button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}


.limpiar-container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

#containerFlex-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container{
    width: 70%;
    height: 300px;
    background-color: #FFF;
    border: 1px solid #000;
}

#imgBebida{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#btnLimpiar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}